body{
    color: black;
    background-image: url('./Image/RegleFootball.jpeg');
    font-size: xx-large;
    text-align: center;
    font-weight: bold;
}
h2{
    font-weight: bold;
    color: whitesmoke;
    font-size: xx-large;
    text-align: center;
}
li{
    font-weight: bold;
    color: whitesmoke;
    font-size: xx-large;
    text-align: center;
    list-style: none;
}
